*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
}
body{
    background-color: rgb(13, 1, 23);
    
    color: white;
    overflow-y: scroll;
    overflow: auto;
    height: 100%;
}
